{
    "repository_url": "https://github.com/eulemitkeule/minecraft-dashboard.git",
    "branches": [
        "master"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/github"
    ],
    "tagFormat": "${version}"
}
