name: Release

on:
    workflow_dispatch:

jobs:
    semantic-release:
        runs-on: ubuntu-latest
        concurrency: release
        steps:
            - name: Checkout
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0
                  persist-credentials: false

            - name: Semantic Release
              uses: cycjimmy/semantic-release-action@v5
              env:
                  GITHUB_TOKEN: ${{ secrets.PAT }}
